.home-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	height: 100%;
	width: 100vw;
	padding: 20px;
	box-sizing: border-box;
	.header {
		width: 100%;
		margin: 0;
		padding-top: 5px;
		background-color: #4e9f3d;
	}
	.PaymentMethods {
		display: flex;
		justify-content: center;
		gap: 15px;
		flex-wrap: wrap;
		width: 100%;
		max-width: 1230px;
		height: 100%;
		min-height: 90px;
		border-radius: 10px;
	}
	.offers {
		width: 100%;
		max-width: 1230px;
		.offers__title {
			color: $primaryColor;
			font-size: 24px;
		}
		.offers-wrapper {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 20px;
			width: 100%;
			color: $textColorDark;
		}
	}
	.categories {
		width: 100%;
		max-width: 1230px;
		.categories__title {
			color: $primaryColor;
			font-size: 24px;
		}
		.categories-list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}
}

@media screen and (max-width: 1000px) {
	.carrcont {
		display: flex;
		justify-content: center;
	}
	.PaymentMethods {
		display: none;
	}
	.carr {
		width: 400px;
	}
}

@media screen and (max-width: 600px) {
	.carrcont {
		display: flex;
		justify-content: center;
	}
	.carr {
		width: 250px;
		margin-right: 400px;
	}
}

@media screen and (min-width: 1260px) {
	.home-cont {
		.offers {
			.offers-wrapper {
				justify-content: space-between;
			}
		}
	}
}
