.cart {
	display: flex;
	justify-content: center;
	gap: 34px;
	background-color: #ededed;
	width: 100%;
	min-height: 100vh;
	padding-top: 100px;
	box-sizing: border-box;
	.cart-wrapper {
		width: 800px;
		height: 100%;
		background-color: $whiteColor;
		padding: 20px;
		box-sizing: border-box;
		.cart__title {
			position: relative;
			margin-top: 0;
			&::after {
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				content: ' ';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 1px;
				width: 100%;
				margin: -10px 0;
			}
		}
		.cart-list {
			display: flex;
			flex-direction: column;
			gap: 30px;
			list-style: none;
			padding: 0;
			margin: 0;
			.cart-item {
				display: flex;
				gap: 20px;
				position: relative;
				padding: 20px 0;
				&::after {
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					content: ' ';
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					height: 1px;
					width: 100%;
					margin: -10px 0;
				}
				.cart-item__thumbnail {
					width: 100px;
					height: 90px;
					object-fit: contain;
				}
				.cart-item-wrapper {
					display: flex;
					justify-content: space-between;
					width: 100%;
					.cart-item-data {
						.cart-item__name {
							color: $grayColor;
							margin: 0;
						}
						.cart-item__price {
						}
					}
					.quantity {
						display: flex;
						align-items: center;
						gap: 10px;
						height: 100%;
						.quantity__operation {
							width: 30px;
							height: 35px;
							margin: 0;
						}
						.quantity__number {
							width: 40px;
							height: 35px;
							padding: 0;
							box-sizing: border-box;
							border: 1px solid rgba(0, 0, 0, 0.1);
							outline: none;
							padding-left: 15px;
						}
					}
				}
			}
		}
	}
	.delivery {
		width: 350px;
		background-color: red;
	}
}
