.slider-carrousel {
	width: 100%;
	max-width: 1230px;
	height: 420px;
	.slider-carrousel__title {
		font-size: 24px;
		font-weight: 600;
		color: $primaryColor;
	}
	.slider-wrapper {
		display: flex;
		justify-content: center;

		width: 100%;
		height: 300px;
		.slick-slider {
			width: 80%;
			.slick-list {
				.slick-track {
					.slick-slide {
						div {
							padding: 20px;
							box-sizing: border-box;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1550px) {
	.slider-carrousel {
		.slider-wrapper {
			.slick-slider {
				width: 100%;
			}
		}
	}
}
