.p-method {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	max-width: 400px;
	min-height: 90px;
	background-color: #e5e5e5;
	border-radius: 10px;
	padding: 0 20px;
	box-sizing: border-box;
	img {
		background-color: white;
		border-radius: 30px;
		width: 30px;
		height: 30px;
		padding: 8px;
	}
	.mercado {
		width: 35px !important;
		height: 35px !important;
	}
	.descrip-cont {
		display: flex;
		flex-direction: column;
		justify-content: center;
		h3 {
			font-weight: 100;
			color: $grayColor;
			line-height: 1;
			margin: 0;
		}
		p {
			color: #4e9f3d;
			margin: 0;
		}
	}
}

@media screen and (max-width: 1000px) {
	.p-method {
		max-width: 300px;
	}
}
/*
@media screen and (max-width: 1000px){
	.p-method{
		flex-direction: column;
	}
}*/