.product {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #ededed;
	height: 100%;
	padding-top: 50px;
	position: relative;
	.product-wrapper {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		max-width: 1184px;
		height: 100%;
		background-color: $whiteColor;
		padding: 20px;
		box-sizing: border-box;
		.product__info {
			color: $grayColor;
			font-size: 12px;
			.product__condition {
				&::after {
					content: ' | ';
				}
			}
		}
		.product__name {
			font-weight: 500;
			font-size: 24px;
		}
		.left-column {
			width: 100%;
			max-width: 700px;
			height: max-content;
			padding-right: 20px;
			box-sizing: border-box;
			.gallery {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				max-width: 700px;
				height: 500px;
				max-height: 500px;
				position: relative;
				padding-bottom: 80px;
				&::after {
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					height: 1px;
					width: 100%;
					margin: 40px 0;
				}
				.gallery-image {
					width: 100%;
					max-width: 500px;
					height: 100%;
					object-fit: contain;
					cursor: zoom-in;
				}
				.thumbnail-list {
					display: flex;
					flex-direction: column;
					position: absolute;
					gap: 20px;
					left: 0;
					top: 0;
					padding: 0;
					list-style: none;
					height: 100%;
					max-height: 500px;
					overflow-y: auto;
				}
			}
		}
		.center-column {
			width: 100%;
			max-width: 341px;
		}
		.right-column {
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			padding: 20px;
			box-sizing: border-box;
			max-width: 412px;
		}
	}
}

@media screen and (max-width: 1151px) {
	.product {
		padding: 0;
		.product-wrapper {
			justify-content: center;
			align-items: center;
			.left-column {
				padding-right: 0;
				.gallery {
					height: 300px;
				}
			}
		}
	}
}
