.product__available-quantity {
	span {
		font-weight: 600;
	}
}
.product__buy {
	font-family: $fontFamily;
	font-weight: 700;
}
.product__add-cart {
	background-color: $primaryColorLight;
	font-family: $fontFamily;
	font-weight: 700;
	color: $primaryColor;
}
.benefits {
	width: 100%;
	margin-top: 20px;
	.benefits-list {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 0;
		margin: 0;
		list-style: none;
	}
}
