footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-top: 150px;
	height: auto;
	padding: 20px;
	box-sizing: border-box;
	height: auto;
	background-color: $whiteColor;
	text-align: center;
	.repository {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		font-size: 16px;
		margin-top: 10px;
	}
}
