.listCont{
    width: 80%;
    //margin: 0 auto;
    margin: -100px 0 0 150px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    
}
.listCards{
    width: 250px;
    height: 400px;
    margin: 20px;
}
.selectPrice{
    padding-top: 110px;
    margin-left: 0px;
}

.selectPrice select{
    width: 150px;
    height: 30px;
    border-radius: 7px;
    
}
