$fontFamily: 'Proxima Nova';

@font-face {
	font-family: $fontFamily;
	src: url('../assets/font/proximanova-thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: $fontFamily;
	src: url('../assets/font/proximanova-light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: $fontFamily;
	src: url('../assets/font/proximanova-regular.otf') format('opentype');
	font-weight: 400;
}
@font-face {
	font-family: $fontFamily;
	src: url('../assets/font/proximanova-medium.otf') format('opentype');
	font-weight: 500;
}
@font-face {
	font-family: $fontFamily;
	src: url('../assets/font/proximanova-semibold.otf') format('opentype');
	font-weight: 700;
}
