$primaryColor: #4e9f3d;
$primaryColorDark: #1e5128;
$primaryColorLight: #d8e9a8;
$whiteColor: #ffffff;
$inputColor: #f8fbfc;
$creamColor: #edf1f7;
$textColor: #fffbfb;
$textColorDark: #676767;
$blackColor: #191a19;
$grayColor: #586666;
