@font-face {
  font-family: "Proxima Nova", sans-serif;
  src: url("../assets/font/proximanova-thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova", sans-serif;
  src: url("../assets/font/proximanova-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova", sans-serif;
  src: url("../assets/font/proximanova-regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova", sans-serif;
  src: url("../assets/font/proximanova-medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Proxima Nova", sans-serif;
  src: url("../assets/font/proximanova-semibold.otf") format("opentype");
  font-weight: 700;
}
html {
  box-sizing: border-box;
  height: 100vh;
}
html*,
html *::before,
html *::after {
  box-sizing: inherit;
}
html body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
}
html body #root {
  height: 100%;
}

.register {
  width: 100%;
  height: 100vh;
  display: flex;
}
.register .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4e9f3d;
  padding: 0 20px;
  box-sizing: border-box;
}
.register .left .register-header {
  color: #ffffff;
}
.register .left .register-header .register__title {
  font-size: 34px;
  line-height: 1;
}
.register .left .register-header .register__description {
  font-weight: 400;
  line-height: 1;
}
.register .left .register__illustration {
  width: 100%;
  max-width: 600px;
}
.register .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 0 20px;
  box-sizing: border-box;
}
.register .right .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 420px;
}
.register .right .form .row-1 {
  display: flex;
  gap: 10px;
}
.register .right .form .row-3 {
  display: flex;
  gap: 10px;
  width: 100%;
}
.register .right .form .row-3 .input-wrapper:nth-child(1) {
  flex-grow: 2;
  min-width: 50px;
}
.register .right .form .row-3 .input-wrapper:nth-child(2) {
  flex-grow: 1;
  max-width: 50px;
}
.register .right .form .row-3 .input-wrapper:nth-child(3) {
  flex-grow: 2;
  min-width: 50px;
}
.register .right .form .input-wrapper {
  width: 100%;
}
.register .right .form .form__submit {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #4e9f3d;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-family: "Proxima Nova", sans-serif;
  margin-top: 10px;
}
.register .right .form .form__submit:hover {
  background-color: #1e5128;
}
.register .right .form .google-register {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  color: #676767;
  cursor: pointer;
  transition: color 0.5s ease;
  font-family: "Proxima Nova", sans-serif;
  background-color: #edf1f7;
  border: 1px solid #e9e9e9;
}
.register .right .form .google-register:hover {
  color: #4e9f3d;
}
.register .right .already-registered {
  display: flex;
  gap: 5px;
}
.register .right .already-registered .already-registered__link {
  color: #4e9f3d;
  font-weight: 600;
}

@media screen and (max-width: 640px) {
  .register .left {
    display: none;
  }
}
.cont {
  display: flex;
  min-height: 100vh;
}

.left-cont {
  background-color: #4e9f3d;
  min-width: 45%;
}

.cont > .left-cont > img {
  margin: 25px 0px 0px 80px;
  max-width: 70%;
}

.cont > .left-cont > h1 {
  text-align: center;
  padding-top: 40px;
  color: white;
  font-size: 34px;
}

.lab {
  margin-top: 11px;
  color: #586666;
}

.cont2 p {
  color: #4e9f3d;
}

.form-log > h2 {
  font-size: 1.5rem;
  text-align: center;
}

.form-log {
  display: flex;
  flex-direction: column;
  margin: 100px 0px 0px 98px;
  width: 30%;
}

.log-input {
  margin: 8px 0px 8px 0px;
}

.form-log > .cont2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-log > .cont2 > label {
  font-weight: 600;
  color: #676767;
}

.form-log > .cont2 > input {
  width: 300px;
  margin: 10px 0px 10px 0px;
}

button {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #4e9f3d;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-top: 10px;
}
button:hover {
  background-color: #1e5128;
}

.Sign-in-google {
  display: flex;
  justify-content: center;
  background-color: #edf1f7;
  color: #586666;
  border: 1px #edf1f7 solid;
  transition: color 0.5s ease;
}
.Sign-in-google:hover {
  color: #4e9f3d;
  background-color: #edf1f7;
}

.Sign-in-google > .gspan {
  padding-top: 12px;
}

.cont {
  display: flex;
  height: 100vh;
}

.cont > div {
  background-color: #4e9f3d;
}

.cont > .cont2 > img {
  margin-top: 18px;
}

.cont > .cont2 > h1 {
  text-align: center;
  padding-top: 40px;
  color: white;
  font-size: 34px;
}

.lab {
  margin-top: 11px;
  color: #586666;
}

.cont2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cont2 p {
  color: #4e9f3d;
}

.form-log > h2 {
  font-size: 1.5rem;
  text-align: center;
}

.form-log p {
  padding: 0;
}

.form-log {
  display: flex;
  flex-direction: column;
  margin: 100px 0px 0px 120px;
}

.form-log > .cont2 {
  display: flex;
  flex-direction: column;
}

.form-log > .cont2 > label {
  font-weight: 600;
  color: #676767;
}

.form-log > .cont2 > input {
  width: 300px;
  margin: 10px 0px 10px 0px;
}

button {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #4e9f3d;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-top: 10px;
}
button:hover {
  background-color: #1e5128;
}

.Sign-in-google {
  display: flex;
  justify-content: center;
  background-color: #edf1f7;
  color: #586666;
  border: 1px #edf1f7 solid;
  transition: color 0.5s ease;
}
.Sign-in-google:hover {
  color: #4e9f3d;
  background-color: #edf1f7;
}

.Sign-in-google > .gspan {
  padding-top: 12px;
}

.googleIcon {
  width: 26px;
  margin: 8px 5px 0px 8px;
}

@media screen and (max-width: 700px) {
  .cont > .left-cont {
    display: none;
  }
  .cont {
    justify-content: center;
  }
  .form-log .cont > div {
    display: none;
  }
  .form-log .cont {
    justify-content: center;
  }
  .form-log .form-log {
    margin-right: 50%;
  }
}
.home-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.home-cont .header {
  width: 100%;
  margin: 0;
  padding-top: 5px;
  background-color: #4e9f3d;
}
.home-cont .PaymentMethods {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1230px;
  height: 100%;
  min-height: 90px;
  border-radius: 10px;
}
.home-cont .offers {
  width: 100%;
  max-width: 1230px;
}
.home-cont .offers .offers__title {
  color: #4e9f3d;
  font-size: 24px;
}
.home-cont .offers .offers-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  color: #676767;
}
.home-cont .categories {
  width: 100%;
  max-width: 1230px;
}
.home-cont .categories .categories__title {
  color: #4e9f3d;
  font-size: 24px;
}
.home-cont .categories .categories-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .carrcont {
    display: flex;
    justify-content: center;
  }
  .oferts {
    flex-direction: column;
  }
  .carr {
    width: 750px !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 600px) {
  .carrcont {
    display: flex;
    justify-content: center;
  }
  .PaymentMethods {
    flex-direction: column;
    height: 100%;
    width: 100% !important;
  }
  .oferts {
    flex-direction: column;
  }
  .carr {
    width: 250px !important;
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 1260px) {
  .home-cont .offers .offers-wrapper {
    justify-content: space-between;
  }
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ededed;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 150px;
}
.product .product-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1184px;
  height: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}
.product .product-wrapper .product__info {
  color: #586666;
  font-size: 12px;
}
.product .product-wrapper .product__info .product__condition::after {
  content: " | ";
}
.product .product-wrapper .product__name {
  font-weight: 500;
  font-size: 24px;
}
.product .product-wrapper .left-column {
  width: 100%;
  max-width: 700px;
  height: 500px;
}
.product .product-wrapper .left-column .gallery {
  width: 100%;
  max-width: 700px;
  height: 500px;
  max-height: 500px;
  position: relative;
}
.product .product-wrapper .left-column .gallery .gallery-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: zoom-in;
}
.product .product-wrapper .left-column .gallery .thumbnail-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  left: 0;
  top: 0;
  padding: 0;
  list-style: none;
}
.product .product-wrapper .left-column .gallery .thumbnail-list .thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.product .product-wrapper .left-column .gallery .thumbnail-list .thumbnail .thumbnail__image {
  width: 44px;
  height: 44px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px;
  box-sizing: border-box;
}
.product .product-wrapper .center-column {
  width: 100%;
  max-width: 341px;
}
.product .product-wrapper .right-column {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.product .product-wrapper .right-column .product__buy {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
}

.listCont {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listCards {
  width: 200px;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #4e9f3d;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.not-found .not-found__link {
  color: #ffffff;
  font-size: 24px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  color: red;
}
.input-wrapper .form__label {
  margin-bottom: 5px;
  color: #191a19;
}
.input-wrapper .form__input {
  border-radius: 5px;
  background-color: #f8fbfc;
  padding: 10px;
  box-sizing: border-box;
  color: #c2c3c9;
  border: 1px solid #e9e9e9;
  font-weight: 500;
  outline: none;
}
.input-wrapper .form__input:focus {
  border-color: #4e9f3d;
}
.input-wrapper .css-b62m3t-container {
  color: #191a19;
}
.input-wrapper .css-b62m3t-container * {
  cursor: pointer !important;
}
.input-wrapper .css-b62m3t-container .css-1s2u09g-control {
  border-radius: 5px;
  background-color: #f8fbfc;
  box-sizing: border-box;
  color: #c2c3c9;
  border: 1px solid #e9e9e9;
  outline: none;
  font-weight: 500;
}

.loader {
  width: 100%;
  position: absolute;
  height: 3px;
}
.loader .loader__progress {
  width: 100%;
  position: relative;
  height: 5px;
  background-color: #4e9f3d;
  transition: all 1s;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.card:hover {
  box-shadow: 1px 5px 20px 0px rgba(0, 0, 0, 0.36);
}
.card .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.card .card-header .card__image {
  width: 100%;
  max-width: 150px;
}
.card .card-body .card__title {
  font-size: 20px;
}
.card .card-body .card__price {
  font-size: 18px;
  font-weight: bold;
  padding: 0 5px;
  font-weight: 400;
}

.slider-carrousel {
  width: 100%;
  max-width: 1230px;
}
.slider-carrousel .slider-carrousel__title {
  font-size: 24px;
  font-weight: 600;
  color: #4e9f3d;
}
.slider-carrousel .slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.slider-carrousel .slider-wrapper .slick-slider {
  width: 80%;
}
.slider-carrousel .slider-wrapper .slick-slider .slick-list .slick-track .slick-slide div {
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (min-width: 1550px) {
  .slider-carrousel .slider-wrapper .slick-slider {
    width: 100%;
  }
}
.p-method {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  min-height: 90px;
  background-color: #e5e5e5;
  border-radius: 10px;
  padding: 0 20px;
  box-sizing: border-box;
}
.p-method img {
  background-color: white;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  padding: 8px;
}
.p-method .mercado {
  width: 35px !important;
  height: 35px !important;
}
.p-method .descrip-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-method .descrip-cont h3 {
  font-weight: 100;
  color: #586666;
  line-height: 1;
  margin: 0;
}
.p-method .descrip-cont p {
  color: #4e9f3d;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .p-method {
    max-width: 300px;
  }
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 175px;
  height: 150px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.category:hover {
  box-shadow: 1px 5px 20px 0px rgba(0, 0, 0, 0.36);
}
.category .category__icon {
  width: 80px;
}
.category .category__title {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .category {
    max-width: 125px;
  }
  .category .category__icon {
    width: 60px;
  }
}
.ofertCardCont {
  display: flex;
  background-color: #e5e5e5;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  transition: all 0.5s;
  padding: 10px;
  box-sizing: border-box;
}
.ofertCardCont .ofertText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 40px;
  justify-content: center;
}
.ofertCardCont .ofertText p {
  margin: 0;
}
.ofertCardCont .ofertText h3 {
  margin: 0px;
  line-height: 1;
}
.ofertCardCont .ofertText button {
  width: 100px;
  height: 30px;
  margin-top: 30px;
}
.ofertCardCont .ofertImg img {
  width: 100%;
  min-width: 200px;
  max-width: 250px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ofertCardCont:hover {
  box-shadow: 1px 5px 20px 0px rgba(0, 0, 0, 0.36);
}

.header {
  padding-top: 10px;
  width: 100%;
  height: 100px;
  background-color: #4e9f3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header-top .menu {
  display: none;
}
.header-top .menu-button {
  display: none;
}
.header-top-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #d8e9a8;
  cursor: pointer;
}
.header-top-logo .diamond {
  font-size: 50px;
}
.header-top-logo-title {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header-top-logo-title h1 {
  margin: 0;
  font-size: 30px;
}
.header-top-logo-title h3 {
  margin: 0;
}
.header-top-buscador {
  height: 80%;
  position: relative;
}
.header-top-buscador .form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.header-top-buscador .form.active {
  border-radius: 10px 10px 0 0;
}
.header-top-buscador .form.active input {
  border-radius: 10px 0px 0 0;
}
.header-top-buscador .form.active button {
  border-radius: 0px 10px 0 0;
}
.header-top-buscador .form input {
  height: 100%;
  width: 100vw;
  max-width: 350px;
  box-sizing: border-box;
  padding: 15px;
  border: none;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.51);
  -webkit-clip-path: inset(-9px 0px -9px -9px);
          clip-path: inset(-9px 0px -9px -9px);
}
.header-top-buscador .form input:focus {
  outline: none;
}
.header-top-buscador .form button {
  margin: 0;
  width: 50px;
  height: 100%;
  padding: 15px;
  color: #b6b6b6;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.51);
  -webkit-clip-path: inset(-9px -9px -9px 0px);
          clip-path: inset(-9px -9px -9px 0px);
}
.header-top-buscador .form button:hover {
  color: #d8e9a8;
}
.header-bottom {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header-bottom-ul {
  list-style-type: none;
  display: flex;
  padding: 0 20px;
  gap: 30px;
}
.header-bottom a {
  transition: all 0.2s ease-out;
  color: #191a19;
  color: #d8e9a8;
  text-decoration: none;
  font-weight: 600;
}
.header-bottom a:hover {
  color: white;
}
.header-bottom-boxUser {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-bottom-boxUser .icon-cart {
  color: #d8e9a8;
}

@media screen and (max-width: 1150px) {
  .header-top {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .header-top .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0;
  }
  .header-top .menu-button .menu-button__icon {
    width: 100%;
  }
  .header-top-buscador {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    width: 100%;
  }
  .header-top-buscador .form {
    display: flex;
    justify-content: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .header-top-buscador .form input {
    width: 100vw;
    max-width: 350px;
  }
  .header-bottom {
    justify-self: right;
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .header {
    height: 60px;
  }
  .header-top .menu {
    display: none;
  }
  .header-top-buscador {
    width: 100%;
    margin: 0;
  }
  .header-top-buscador .form {
    width: 100%;
  }
  .header-top-buscador .form input {
    width: 100%;
  }
  .header-top-logo .diamond {
    font-size: 30px;
  }
  .header-top-logo-title h1 {
    display: none;
  }
  .header-top-logo-title h3 {
    display: none;
  }
}
.results {
  position: absolute;
  bottom: -40px;
  right: 0px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  z-index: 100;
}
.results .results-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
}
.results .results-list.loading {
  align-items: center;
}
.results .results-list .result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 20px;
  box-sizing: border-box;
  gap: 10px;
  cursor: pointer;
  transition: all 0.25s ease-out;
  border: 1px solid rgba(0, 0, 0, 0);
}
.results .results-list .result:hover {
  background-color: #d8e9a8;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.results .results-list .result .icon-search {
  color: #4e9f3d;
}
.results .results-list .result .result-wrapper {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1150px) {
  .results {
    bottom: -27px;
  }
  .results .results-list .result {
    padding: 20px 10px;
  }
  .results .results-list .result .icon-search {
    width: 20px;
  }
  .results .results-list .result .result-wrapper .result__title {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
  }
}
@media screen and (min-width: 500px) and (max-width: 640px) {
  .results {
    left: 50%;
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=index.css.map */