@import './fonts';
@import './variables';

html {
	box-sizing: border-box;
	height: 100vh;
	&*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
	body {
		margin: 0;
		overflow-x: hidden;
		height: 100vh;
		width: 100%;
		font-family: $fontFamily;
		font-weight: 300;
		font-size: 14px;
		font-style: normal;
		#root {
			height: 100%;
		}
	}
}

//sections imports
@import '../sections/Register/register';
@import '../sections/login/login.scss';

//components imports
@import '../components/InputWrapper/inputWrapper';
<<<<<<< HEAD

=======
@import '../components/Loader/loader';
>>>>>>> d08fea967bea2388b61be47891d6f2c5dd23d38e
